@import "~sweetalert2/src/variables";
.swal2-popup {
  font-family: "Kodchasan" !important;
}
$swal2-title-font-size: 1.4rem;
$swal2-content-margin: 0 0 1em 0;
$swal2-confirm-button-font-size: 1em;
.swal2-confirm.swal2-styled {
  padding: 0.5em 2em;
  border-radius: 50px !important;
}

.swal2-cancel.swal2-styled {
  background: $white !important;
  color: $gray !important;
  padding: 0.5em 2em;
  border: 1px solid $gray !important;
  border-radius: 50px !important;
}

.swal2-icon.swal2-warning {
  border-color: $error !important;
  color: $error !important;
}
.btn-danger.swal2-confirm.swal2-styled {
  background: $error !important;
}
.swal2-content {
  font-family: "Kodchasan";
}
.swal2-icon-error .swal2-title {
  margin-bottom: 0;
}
.swal2-popup.swal2-modal {
  border-radius: 20px;
}
