// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");
html,
body {
  font-size: 16px;
  color: $dark;
  font-family: "Kodchasan" !important;
  h1,
  .h1 {
    font-size: 1.802rem;
  }
  h2,
  .h2 {
    font-size: 1.602rem;
  }
  h3,
  .h3 {
    font-size: 1.424rem;
  }
  h4,
  .h4 {
    font-size: 1.266rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h5,
  .h5 {
    font-size: 1.125rem;
  }
  h6,
  .h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .v-application h1,
  .v-application h2,
  .v-application h3,
  .v-application h4,
  .v-application h5,
  .v-application h6,
  .v-application .title {
    font-family: "Kodchasan" !important;
  }
  .v-application {
    font-family: "Kodchasan" !important;
  }
}
