$dark: #2f3542;
$gray: #a3a3a3;
$light: #f4f4f4;
$white: #ffffff;
$success: #19ba88;
$warning: #fdcb6e;
$error: #f77272;

$yellow-light: #fef4d0;
$yellow: #ffd497;
$yellow-dark: #f8b55d;
$orange-light: #fffafa;
$orange: #ff9474;
$orange-dark: #f87651;
$purple-light: #e0d6f9;
$purple: #a2aef2;
$purple-dark: #6f73bd;
$header_height: 54px;

.text-default {
  color: $dark;
}
.text-white {
  color: $white;
}
.v-application a,
.v-application a:hover {
  color: $dark;
  text-decoration: none;
  &:hover {
    color: $orange;
  }
}
// .v-application {
//   background-color: $orange-light !important;
// }
@import "mixins";
